<% provide(:title, "Log in") %>
<div class="container">
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 form-outline"
  style="
  ">
    <div class="text-center">
    <a href="/" title="Resort Token" class="form-resort-token-logo">
      <img src="" width="202" color="#235322" alt="Resort Token Logo">
    </a>
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
      <h1 class="text-center form-header">Login to Resort Token</h1>
        <div class="form-email">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

        </div>
        <div class="form-password">  
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <%= link_to "Forgot Password?", reset_password_path, :class => 'forgot-password' %>
        </div>
        <% if @message.present? %>
        <div id="error_result">
          <div class="alert alert-danger">
            <%= @message %>
            <script type="text/javascript" charset="utf-8"> 
              var email = "<%= @userinfo[:email] || 'null' %>";
              var password = "<%= @userinfo[:password] || 'null' %>";
              $("#session_email").val(email);
              $("#session_password").val(password);
            </script>
          </div>
        </div>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary form-btn-submit" %>
    <% end %>

    <div class="text-center no-account">No Account? <%= link_to "Sign up now!", signup_path, :class => 'btn-sign-up' %></div>
  </div>
</div>
<script>
document.getElementById("session_email").onblur = function() {
  $("#error_result").remove();
}
</script>
</div>